.navbar{
    font-family: 'Montserrat', sans-serif;
}
.hoverOnitem:hover{
    color: whitesmoke !important; 
}
section{
    background-color: rgb(6, 6, 56);    
}
body{
   color: whitesmoke;
}
.dogimg{
    width: 50%;
}
.title{
    text-align: center;
}
.text{
    margin-left: 30%;
    margin-top: 18%;
   font-size: 3rem;
   font-weight: bold;
   font-family: 'Mochiy Pop P One', sans-serif;
    
}

.dogimages{
    padding: 3% 15%;
    text-align: center;
}
.dogimgs{
    width:  70%;
    height: 70%;
    object-fit: cover;
    border-radius: 10%;
}
.dogimgtext, .catimgtext , .otheranimalstext{
    color: black;
    text-align: center;
    font-family: 'Mochiy Pop P One', sans-serif;
    text-shadow: 2px 2px 2px  rgb(49, 48, 48);
}
.catimgs{
    width:  70%;
    height: 70%;
    object-fit: cover;
    border-radius: 10%;
}
.catimages{
    padding: 3% 15%;
    text-align: center;
}
.button{
    margin: 0 auto;
    text-align: center;
}
.button button{
    margin: 0 .5%;
}

@media (max-width: 991px){
 .text{
     margin: 2% 2%;
 }   
}

footer{
    background-color:rgb(6, 6, 56);
    height: 10rem;
    padding-top: 3rem;
}